<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummaryMe - AI ChatBot Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="static/favico.png" type="image/x-icon">
</head>
<body>
    <div class="subheader">
        <h1><img src="static/logo.png" alt="Logo">Summary<span class="highlight">Me</span></h1>
    </div>
    <div class="subheader1">
        <p style="color: white; font-size: 12px; margin-left: 60px;">Applied AI - Final Project</p>
    </div>
    <div class="history-chats">
        <p>Chat History</p>
        <div class="chat-cont">
        <div id="chat-history-container" style="margin-right: 10px;">
            <!-- Chat history will be dynamically added here -->
        </div>
        </div>
    </div>
    
    <div class="chat-container" id="chat-container">
        <!-- Messages will be dynamically added here -->
    </div>

    <input id="input-text" placeholder="Enter text to summarize"></input>
    <button id="summarize-btn" disabled><i class="fas fa-paper-plane"></i></button>

    <div class="gif-container">
        <img src="static/bot.gif" alt="Welcome GIF">
    </div>

    <script>
        const inputText = document.getElementById("input-text");
        const summarizeBtn = document.getElementById("summarize-btn");

        inputText.addEventListener("input", function() {
            if (inputText.value.trim() === "") {
                summarizeBtn.disabled = true;
            } else {
                summarizeBtn.disabled = false;
            }
        });

        document.getElementById("summarize-btn").addEventListener("click", function() {
            var text = inputText.value;
            addMessage("user", text);
            inputText.value = "";
            summarizeBtn.disabled = true; // Disable button after sending message
            setTimeout(function() {
                addTypingAnimation();
                fetch('/summarize', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({text: text}),
                })
                .then(response => response.json())
                .then(data => {
                    removeTypingAnimation();
                    addMessage("bot", data.summary, true);
                    summarizeBtn.disabled = false; // Re-enable button after bot response
                })
                .catch((error) => {
                    console.error('Error:', error);
                    summarizeBtn.disabled = false; // Re-enable button if there's an error
                });
            }, 1000);
        });

        function addMessage(sender, message, isTypingEffect = false) {
            var container = document.getElementById("chat-container");
            var logo = document.getElementById("center-logo");
            if (logo) {
                logo.classList.add("hidden");
            }

            var messageElement = document.createElement("div");
            messageElement.classList.add(sender + "-message");

            var icon = document.createElement("span");
            icon.classList.add("icon");
            if (sender === "user") {
                icon.innerHTML = ''; 
            } else {
                icon.innerHTML = '<i class="fas fa-robot"></i>'; // Font Awesome robot icon
            }

            messageElement.appendChild(icon);

            var messageContent = document.createElement("span");
            messageElement.appendChild(messageContent);

            container.appendChild(messageElement);

            if (isTypingEffect) {
                let i = 0;
                const speed = 10; // Typing speed in milliseconds

                function typeWriter() {
                    if (i < message.length) {
                        messageContent.innerHTML += message.charAt(i);
                        i++;
                        setTimeout(typeWriter, speed);
                    }
                }
                typeWriter();
            } else {
                messageContent.innerHTML = message;
            }

            var br = document.createElement("br");
            container.appendChild(br);
        }

        function addTypingAnimation() {
            var container = document.getElementById("chat-container");
            var messageElement = document.createElement("div");
            messageElement.classList.add("typing-animation");

            for (var i = 0; i < 3; i++) {
                var dot = document.createElement("span");
                dot.classList.add("dot");
                dot.innerText = ".";
                messageElement.appendChild(dot);
            }

            container.appendChild(messageElement);
        }

        function removeTypingAnimation() {
            var container = document.getElementById("chat-container");
            var typingAnimation = container.querySelector(".typing-animation");
            if (typingAnimation) {
                container.removeChild(typingAnimation);
            }
        }

        // Function to add initial greeting message on page load
        function addGreetingMessage() {
            addMessage("bot", "Hello there! Welcome to SummaryMe, feel free to summarize your sentences.", true);
        }

        // Add the greeting message when the page loads
        window.onload = function() {
            addGreetingMessage();
            const chatHistory = JSON.parse('{{ chat_history | tojson | safe }}');
            populateChatHistory(chatHistory);
        };

        // Function to populate chat history
        function populateChatHistory(chatHistory) {
            var container = document.getElementById("chat-history-container");

            // Clear previous chat history
            container.innerHTML = "";

            // Loop through chat history and add messages to the container
            for (var i = 0; i < Math.min(chatHistory.length, 7); i++) {
                var message = chatHistory[i];
                var sender = message[1];
                if (sender === "user") {
                    var messageText = message[2];
                    var truncatedMessage = messageText.split(' ').slice(0, 5).join(' ') + '...';
                    addHistoryMessage(truncatedMessage);
                }
            }
        }
        function addHistoryMessage(message) {
            var container = document.getElementById("chat-history-container");

            var messageElement = document.createElement("div");
            messageElement.classList.add("history-message");

            var messageContent = document.createElement("span");
            messageContent.innerHTML = message;
            messageElement.appendChild(messageContent);

            container.appendChild(messageElement);
        }
    </script>
</body>
</html>
